<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807880797504-v733e88lahck052k51i2ihr89v5l60os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807880797504-v733e88lahck052k51i2ihr89v5l60os</string>
	<key>API_KEY</key>
	<string>AIzaSyAFRp9qqah4weLN0o7v-VG-rOdvx3yb3Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>807880797504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itflow.itflowapp</string>
	<key>PROJECT_ID</key>
	<string>itflow-932ec</string>
	<key>STORAGE_BUCKET</key>
	<string>itflow-932ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807880797504:ios:ebfd5541fc7e3272c05ea5</string>
</dict>
</plist>